<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE">
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7"/>
    <title>REGISTER</title>
    <script src="./plugins/jQuery/jquery-2.2.3.min.js"></script>
    <link rel="stylesheet" href="./css/regist.css">
    <script src="./plugins/angularjs/angular.min.js"></script>
    <script src="./js/base.js"></script>
    <script src="./js/service/userService.js"></script>
    <script src="./js/controller/userController.js"></script>
</head>
<body ng-app="loginCrud" ng-controller="userController">
<div class="wrap">
       
    <div class="container">
                <h1 style="color: white; margin: 0; text-align: center">REGISTER</h1>
        <form>
            <label><input type="text" ng-model="entity.username" placeholder="Your username"/></label>
            <label><input type="password" ng-model="entity.password" placeholder="password"/></label>
            <label><input type="text" ng-model="entity.sex" placeholder="Your sex"/></label>
            <label><input type="date" ng-model="entity.birth" placeholder="Your birthday"/></label>

            <!--<p id="sexP">性别:
                <input id="man" type="radio" checked="checked" name="sex"/>男
                <input type="radio" id="woman" name="sex">女
            </p>-->
            <label><input type="text" ng-model="entity.address" placeholder="Your address"/></label>

            <label>
                <input style="color:#0f0f0f;background-color: #edffe9"
                       type="button" ng-click="save()" value="注册"/>
            </label>
                        <p class="change_link" style="text-align: center">
                            <span class="text">Already a member ?</span>
                            <a href="login.html" class="to_login"> Go and log in </a>
                        </p>     
        </form>   
    </div>
     
    <ul>
               
        <li>加</li>
               
        <li>油</li>
               
        <li>努</li>
               
        <li>力</li>
               
        <li>美</li>
               
        <li>丽</li>
               
        <li>爱</li>
               
        <li>开</li>
               
        <li>心</li>
               
        <li>和</li>
           
    </ul>
</div>
</body>
</html>